<meta charset="utf-8">

{% include seo.html %}

<meta name="description" content="Jiawei Liu (刘嘉威)'s Homepage, Associate Research Fellow, Department of Automation, University of Science and Technology of China.">
<meta name="keywords" content="刘嘉威, Jiawei Liu, jiawei liu, JIAWEI LIU，中国科学技术大学，USTC, 自动化系，研究生招生，人工智能，计算机视觉，机器学习，多媒体分析">

<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<script>
  document.documentElement.className = document.documentElement.className.replace(/\bno-js\b/g, '') + ' js ';
</script>

<!-- For all browsers -->
<link rel="stylesheet" href="assets/css/main.css">

<meta http-equiv="cleartype" content="on">
<head>
  <base target="_blank">
</head>
